@function rem-calc($size) {
    $remSize: $size / 16;
    @return #{$remSize}rem;
}

@font-face {
    font-family: "JournalRegular";
    src: url("../fonts/journal-webfont.ttf"),
         url("../fonts/journal-webfont.woff"),
         url("../fonts/journal-webfont.svg"),
         url("../fonts/journal-webfont.eot");
}

@font-face {
    font-family: "source_code";
    src: url("fonts/sourcecodepro-regular-webfont.ttf"),
         url("fonts/sourcecodepro-regular-webfont.woff"),
         url("fonts/sourcecodepro-regular-webfont.svg"),
         url("fonts/sourcecodepro-regular-webfont.eot");
}

@import "bulma/sass/utilities/_all.sass";
@import '~highlight.js/scss/monokai';

$primary: #969696;
$secondary: #F700F7;
$medium-gray: #545454;
$dark-gray: #2F2F2F;
$black: #121212;
$white: #E4E4E4;

$family-primary: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$body-background-color: $black;

$link: $grey;
$link-hover: $grey-dark;
$text: $white;
$text-strong: $medium-gray;

$pre-padding: 0;
$pre-code-font-size: 1em;
$content-pre-padding: 0;

$family-code: "source_code";
$code-padding: 0;
$code-weight: normal;
$code-size: 0.875em;
$code-background: #272822;
$code: #ddd;
$code-padding: 0 0.5em;

$menu-item-hover-color: $grey;
$menu-item-hover-background-color: $grey-darker;

@import "bulma/sass/base/_all.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/content.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/grid/columns.sass";
@import "bulma/sass/components/pagination.sass";
@import "bulma/sass/components/menu.sass";
@import "bulma/sass/components/message.sass";
@import "bulma/sass/helpers/spacing.sass";
@import "bulma/sass/helpers/typography.sass";

header {
    @extend .mb-6;
    h1 {
        span {
            color: $secondary;
        }
    }
}
