{% extends 'index.twig' %}

{% block content %}
    <article>
        {{ content }}
    </article>

    {% for page in paged_pages|sort_by("time")|reverse if not page.hidden %}
        <article>
            <h2 class="title is-2"><a href="{{ page.url }}">{{ page.title }}</a></h2>
            <p class="date">{{ page.date_formatted }}</p>
            <p class="content">{{ page.id|content }}</p>
        </article>
        <hr />
    {% endfor %}

    {% if prev_page_url or next_page_url %}
        <nav class="pagination" role="navigation" aria-label="pagination">
            {% if prev_page_url %}
                <a href="{{ prev_page_url }}"  class="pagination-previous">Previous</a>
            {% endif %}
            {% if next_page_url %}
                <a href="{{ next_page_url }}"  class="pagination-next">Next</a>
            {% endif %}
        </nav>
    {% endif %}
{% endblock %}
