{% extends 'index.twig' %}

{% block content %}
    {{ content }}
    {% for page in paged_pages|sort_by("time")|reverse|apply_tag_filter if not page.hidden %}
        <article>
            <h2 class="title is-2"><a href="{{ page.url }}">{{ page.title }}</a></h2>
            <p class="date">{{ page.date_formatted }}</p>
            <p class="content">{{ page.id|content }}</p>
        </article>
        <hr />
    {% endfor %}
{% endblock %}
