<!DOCTYPE html>
<html class="no-js" lang="{{ meta.lang }}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

        <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
        {% if meta.description %}
            <meta name="description" content="{{ meta.description|striptags }}" />
        {% endif %}
        {% if meta.robots %}
            <meta name="robots" content="{{ meta.robots }}" />
        {% endif %}

        {% if current_page %}
            <link rel="canonical" href="{{ current_page.url }}" />
        {% endif %}

        <link rel="stylesheet" href="{{ theme_url }}/css/app.css" type="text/css" />
    </head>
    <body>
        <section class="container">
            <header>
                <h1 class="title is-1">var <a href="{{ base_url }}">Phenix</a> = <span>()</span> => {</h1>
            </header>
            <main class="columns" role="main">
                <section class="content column is-8">
                    {% block content %}
                        <article>
                            {{ content }}
                        </article>
                    {% endblock %}
                </section>
                <section class="nav column is-4">
                    {% include 'sidebar.twig' %}
                </section>
            </main>
            <footer class="is-size-1">
                }
            </footer>
        </section>
        <script src="{{ theme_url }}/js/app.js"></script>
    </body>
</html>
