<nav class="menu">
    <ul>
        <li><a href="https://www.twitter.com/phenix/"><img src="{{ theme_url }}/css/images/twitter.png" alt="twitter" /> </a></li>
    </ul>

    <ul class="menu-list">
        {% for tag in get_all_tags()|sort %}
            <li class="menu-item"><a href="{{ base_url }}/{{ tag }}">{{ tag }}</a></li>
        {% endfor %}
    </ul>
</nav>
